body {
	background-image: url("images/Yellow Parish(3).gif");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: cover;
}
header > h1 {
	display: inline-block;
}
header span { margin-left: 100px;
}
h1 {
	color: #5D92B1;
	text-align: left
	vertical-align: top;
}
/*#first {
	text-align: center;
	vertical-align: top;
	padding-bottom: 10px
}
#second {
	vertical-align: top;
}
#third {
	text-align: right;
	vertical-align: top;
}*/
h3 {
	color: #000000;
	text-align: right;
	vertical-align: top;
}
.slogan {
	font-style: italic;
	font-size: 16px;
}
p { 
	color: #808080; 
	font-weight: normal;
	text-align: left;
}
.survey {
	font-size: 20px;
}
ul { 
	list-style-type: none;
}
.Baltimore {
	text-align: left;
}
.San Diego {
	text-align: center;
}
.Miami {
	text-align: right;
}




