body {
	background-image: url("images/Yellow Parish(3).gif");
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: cover;
}
h1 {
	color: #5D92B1;
	text-align: left
	vertical-align: top;
}
#first {
	text-align: center;
	vertical-align: top;
}
#second {
	text-align: center-right;
	vertical-align: top;
}
#third {
	text-align: right;
	vertical-align: top;
}
h3 {
	color: #000000;
	text-align: right;
	vertical-align: top;
}
.slogan {
	font-style: italic;
}
p { 
	color: #808080; 
	font-weight: normal;
	text-align: left;
}
