/*body {
	background-image: url("images/Yellow Parish(3).jpg");
}*/

.header h1 {
	float: left;
	color: #5D92B1;
	text-align: left
	vertical-align: top;
}
h3 {
	color: #000000;
	text-align: right;
	vertical-align: top;
}
p { 
	color: #808080; 
}
